
html{
	font-family: Helvetica;
	font-size: calc(21px + (30 - 21) * ((100vw - 768px) / (1600 - 768)));
	line-height: 1.5;
	text-align: left;
	background-color: #ffffff;
	color: #333333;
  height: 200vh;
 background: linear-gradient(to bottom, #FFFFFF , #EAE5E6 , #FFFFFF , #DED6D6, #E8CBCB, #FFFFFF);
  background-blend-mode: screen;
	/* background-color: red; */
}
h1{
  //font-size: 1rem;
}
h2{
  //font-size: 1.8vw;
}
h3{
  //font-size: 1.5vw;
}

.top-right {
 position: fixed;
  right: 5vw;
  top: 8vh;
}
input#search{
outline: 0 !important;
border: 1px solid black;
border-radius: 30px !important;
width: 8vw;
padding: 1vh 0.4vw;
text-align:center;
background: transparent;
}

#options {
  margin: 15vh auto 0 auto;
  position: inherit;
  width: 80vw;
 /*border: 5px solid #FFFF00;*/
}
#star .star{
  vertical-align: middle !important;
  height：2vh;
  width: 2vw;
}

.category{
  margin-bottom: 4vh;
}
.category .cross{
  display: none;
  vertical-align: middle;
  height: 3vw;
}
.category input[type="checkbox"] {
  display: none;
}
.category label {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0.1rem;
  left: 8vw;
  box-sizing: border-box;
  padding: 0.2rem 0.5rem;
  border-radius: 27px;
  border: 1.5px solid black;
  background-color:transparent;
  text-decoration: none;
  outline:none;

}
.active{
  border: 3px solid black !important;
  background-color: white !important;
}
.check-date{

  position: fixed;
  top: 46vh ;
  left: 1vw;
  border: 1px solid black;
   border-radius: 23px;
  transform: rotate(-90deg);


}
.check-date input[type="checkbox"] {
  display: none;
}
.check-date label{
  font-size: 1.2vw;
  margin: 0 1vh;
}
.time-range{
  font-size: 2vw;
  font-weight: bold;
}
.check-district {
  width: 70vw;
  margin: 2vh auto;

}
.check-district label{
  font-size: 0.5rem;
  margin-right: 0.7vw;

}


#filter-display{
  margin: 3vh auto 0 auto;
  position: inherit;
  width: 70vw;
}
.list-top {
  margin: auto;
  width: 70vw;
  margin-top: 10vh;
}

.list-options {
  margin: 0.5vw;
  }

.container{
  display: flex;
  flex-direction: column;
 align-content: space-between;
  margin: auto;
  width: 75vw;
  margin-top: 0vh;


}

.item-list{
  width: 100%;
  z-index: 1;
  transition: 1s;
}
.item {
  position: relative!important;
  top: 0px!important;
  margin-top: 1vh!important;
	width:100%;

  display: grid;
  grid-template-columns: 4% 20% 30% 40% 4%;
  grid-template-rows: auto;
	column-gap: 1vw;
  row-gap: 0.5vh;
  grid-template-areas:
    ". date-from venue header ."
		". line . . ."
    ". date-to district person ."
    ". cont cont cont . "
		". meta meta meta ."
		". url url url ."
		". address address address .";

		justify-items: start;
		align-items: start;
  border: 1px solid black;
  border-radius: 50px;
  margin-bottom: 1vh;
  min-height: 25vh;
  background: rgba(255, 255, 255, 0.8);

}

.list-from, .list-venue, .list-headline{
 padding-top: 3vh;
 display:inline-block;
 line-height: 5vh;
 vertical-align: text-top;
}
.list-to, .list-district, .list-artist{
 display:inline-block;
 line-height: 5vh;
 vertical-align: text-top;
}

.list-from {
	 grid-area: date-from;
	 font-size: 5vh;
}
img.line{
	grid-area: line;
	width:45%;
	height:auto;
}
.list-to{
	grid-area: date-to;
	 font-size: 5vh;

}

.list-venue{
  font-size: 1.1rem;
  grid-area: venue;
}
.list-district{
	grid-area: district;
  font-size: 1.1rem;
}
.list-headline{
	grid-area: header;
	font-size: 1.5rem;
  line-height: 1.5;
	font-weight: bold;
}

.list-artist{
 font-size: 1.3rem;
	grid-area: person;
}

.list-content {
	display: none;
	width:95%;
  grid-area: cont;
  padding: 5vh 0;
}

.list-link{
	//grid-area: url;
	padding-top: 1vh;
}
.list-description{
	//grid-area: des;
	padding-top: 1vh;
  display: block;
}
.list-address{
	//grid-area: address;
	padding-top: 1vh;
	padding-bottom: 3vh;
}
a:hover{
 color: #999999;
  transition-duration: 1s;
}
.category label:hover{
 border: 3px solid black;;
 background: white;
 transition-duration: 0.1s;
}


footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-radius: 15px;
  border-top: 1px solid black;
  background-color:white;
  z-index: 5;
  font-size: 1rem;
}
footer span, footer a{
  display: inline-block;
  margin: 0 2vw;
}
div.newsletter{
  display: none;
}
footer .link{
  position:sticky;
  height:4vh;
}
footer .cross{
display:none;
position:sticky;
vertical-align: middle;
top:0;
z-index:10;
right:1vw;
float:right;
cursor:default;

}
